.font-family-0 {
	font-family: Georgia, serif, "Microsoft JhengHei" !important;
}

.font-family-1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft JhengHei" !important;
}

.book-header {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft JhengHei" !important;
}

.book-summary {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft JhengHei" !important;
}

.book-header h1{
	color: #BDCADB !important;
}